Repository AY2021S1-CS2103-F09-3/tp, pull requests merged in 2020-09, with the labels that each got.

#25 Add information about Liu Yangming in about us
  docs/AboutUs.md
  docs/images/richardcom.png
  docs/team/richardcom.md
Labels: type.AboutUs

#27 Udpate non-functional requirements
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#28 Update use cases
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#38 Add about us information
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.AboutUs

#39 Update user guide
  docs/UserGuide.md
Labels: type.UserGuide

#41 Update developer guide
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#42 Update developer guide
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#64 delete the AB3 trace
  docs/UserGuide.md
Labels: priority.High, type.UserGuide

#65 Update About US page
  docs/AboutUs.md
  docs/team/Stefan-Jiang.md
  docs/team/davidsqf.md
  docs/team/johndoe.md
  docs/team/johndoe.md.rej
  docs/team/richardcom.md
Labels: priority.High, type.AboutUs
